pandas>=0.19
numpy>= 1.11.0
holidays==0.83
scikit-learn>=1.6.1
openmeteo_requests==1.7.4
requests-cache==1.2.1
retry-requests==2.0.0
streamlit==1.50.0
streamlit-folium==0.25.3
folium==0.20.0
plotly==6.4.0
streamlit-plotly-events==0.0.6
statsmodels==0.14.5
